---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [132]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)
df.str.replace('(', '')
df.str.replace("'", "")
df.str.replace(')', '')
df.str.replace('"','')

0           03/25/93 Total time of visit (in minutes):\n
1                         6/18/85 Primary Care Doctor:\n
2      sshe plans to move as of 7/8/71 In-Home Servic...
3                  7 on 9/27/75 Audit C Score Current:\n
4      2/6/96 sleep studyPain Treatment Pain Level (N...
5                      .Per 7/06/79 Movement D/O note:\n
6      4, 5/18/78 Patient's thoughts about current su...
7      10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                           3/7/86 SOS-10 Total Score:\n
9               (4/10/71)Score-1Audit C Score Current:\n
10     (5/11/85) Crt-1.96, BUN-26; AST/ALT-16/22; WBC...
11                         4/09/75 SOS-10 Total Score:\n
12     8/01/98 Communication with referring physician...
13     1/26/72 Communication with referring physician...
14     5/24/1990 CPT Code: 90792: With medical servic...
15     1/25/2011 CPT Code: 90792: With medical servic...
16           4/12/82 Total time of visit (in minutes):\n
17          1; 10/13/1976 Audit C Score, Highest/Date:\n
18                   4, 4/24/98 Relevant Drug History:\n
19     ) 59 yo unemployed w referred by Urgent Care f...
20           7/21/98 Total time of visit (in minutes):\n
21                        10/21/79 SOS-10 Total Score:\n
22      3/03/90 CPT Code: 90792: With medical services\n
23      2/11/76 CPT Code: 90792: With medical services\n
24     07/25/1984 CPT Code: 90791: No medical services\n
25     4-13-82 Other Child Mental Health Outcomes Sca...
26      9/22/89 CPT Code: 90792: With medical services\n
27        9/02/76 CPT Code: 90791: No medical services\n
28                                9/12/71 [report_end]\n
29     10/24/86 Communication with referring physicia...
                             ...
470    y1983 Clinic Hospital, first hospitalization, ...
471    tProblems Urinary incontinence : mild urge inc...
472    .2010 - wife; nightmares and angry outbursts; ...
473         shx of TBI (1975) ISO MVA.Medical History:\n
474    sPatient reported losing three friends that pa...
475                        TSH okay in 2015 Prior EKG:\n
476    1989 Family Psych History: Family History of S...
477    oEnjoys animals, had a dog x 14 yrs who died i...
478    eHistory of small right parietal subgaleal hem...
479    sIn KEP Psychiatryfor therapy and medications ...
480    1. Esophageal cancer, dx: 2013, on FOLFOX with...
481                                        y1974 (all)\n
482    h/o restraining order by sister/mother in 1990...
483    sTexas Medical Center; Oklahoma for 2 weeks; 1...
484    Death of former partner in 2004 by overdose as...
485    Was average student.  I didn't have too many f...
486    Contemplating jumping off building - 1973 - di...
487    appendectomy s/p delivery 1992 Prior relevant ...
488    tProblems renal cell cancer : s/p nephrectomy ...
489        ran own business for 35 years, sold in 1985\n
490                                  Lab: B12 969 2007\n
491                                   )and 8mo in 2009\n
492    .Moved to USA in 1986. Suffered from malnutrit...
493                                              r1978\n
494    . Went to Emerson, in Newfane Alaska. Started ...
495    1979 Family Psych History: Family History of S...
496    therapist and friend died in ~2006 Parental/Ca...
497                         2008 partial thyroidectomy\n
498    sPt describes a history of sexual abuse as a c...
499    . In 1980, patient was living in Naples and de...
Length: 500, dtype: object

In [133]:
def date_sorter():
    
    # Your code here
#     t1 = df.
#1st pattern
    t1 = df.str.extractall(r'(?P<month>\d{1,2})[/-](?P<day>\d{1,2})[/-](?P<year>\d{2,4})')
    dates = t1.reset_index()
    
#6th pattern
    index_left = ~df.index.isin([x for x in dates['level_0']])
    t2 = df[index_left].str.extractall(r'(?P<month>\d{1,2})/(?P<year>\d{4})')
    t2['day'] = 1
    t2_index = t2.reset_index()
    t2_index
    dates = pd.concat([dates, t2_index])
    
#2nd and 4th pattern
    index_left = ~df.index.isin([x for x in dates['level_0']])
    t3 = df[index_left].str.extractall(r'(?P<month>[A-Za-z]{3,})[.]?[-\W](?P<day>\d{1,2})[a-z]{,2}[,]?(?P<extra>-| )(?P<year>\d{4})')
    t3.drop(['extra'], axis=1, inplace=True)
    t3_index = t3.reset_index()
    t3_index

    dates = pd.concat([dates, t3_index], axis=0)

# 3rd pattern
    index_left = ~df.index.isin([x for x in dates['level_0']])
    t4 = df[index_left].str.extractall(r'(?P<day>\d{1,2}) (?P<month>[A-Za-z]{3,})[.|,]? (?P<year>\d{4})')
    t4_index = t4.reset_index()
    t4_index
    dates = pd.concat([dates, t4_index])
    
# 5th pattern
    index_left = ~df.index.isin([x for x in dates['level_0']])
    t5 = df[index_left].str.extractall(r'(?P<month>[A-Z]{1}[a-z]{2,}) (?P<year>\d{4})')
    t5['day']=1
    t5_index = t5.reset_index()
    t5_index
    dates = pd.concat([dates, t5_index])
    
#7th pattern

    index_left = ~df.index.isin([x for x in dates['level_0']])
    t6 = df[index_left].str.extractall(r'(?P<year>\d{4})')
    t6['day']=1
    t6['month']=1
    t6_index = t6.reset_index()
    t6_index
    dates = pd.concat([dates, t6_index])
    dates
    
    mon_dict = dict({'September': 9, 'Mar': 3, 'November': 11, 'Jul': 7, 'January': 1, 'December': 12,
                       'Feb': 2, 'May': 5, 'Aug': 8, 'Jun': 6, 'Sep': 9, 'Oct': 10, 'June': 6, 'March': 3,
                       'February': 2, 'Dec': 12, 'Apr': 4, 'Jan': 1, 'Janaury': 1,'August': 8, 'October': 10,
                       'July': 7, 'Since': 1, 'Nov': 11, 'April': 4, 'Decemeber': 12, 'Age': 8})
    
    dates.replace({'month':mon_dict}, inplace= True)
    
    dates['month'] = dates['month'].apply(lambda x: str(x))
    dates['day'] = dates['day'].apply(lambda x: str(x))
    dates['year'] = dates['year'].apply(lambda x: str(x))
    dates['year'] = dates['year'].apply(lambda x: '19' + x if len(x) == 2 else x)
    
    dates['date'] = dates['month'] + '/' + dates['day'] + '/' + dates['year']
    
    dates = dates[dates.match!=1]
    
    dates['date'] = pd.to_datetime(dates['date'])
    
    dates.sort_values(by='date', inplace=True)
    dates['level_0']
    
    return pd.Series(list(dates['level_0']))

In [134]:
t1 = df.str.extractall(r'(?P<month>\d{1,2})[/-](?P<day>\d{1,2})[/-](?P<year>\d{2,4})')
dates = t1.reset_index()
dates

     level_0  match month day  year
0          0      0    03  25    93
1          1      0     6  18    85
2          2      0     7   8    71
3          3      0     9  27    75
4          4      0     2   6    96
5          5      0     7  06    79
6          6      0     5  18    78
7          7      0    10  24    89
8          8      0     3   7    86
9          9      0     4  10    71
10        10      0     5  11    85
11        11      0     4  09    75
12        12      0     8  01    98
13        13      0     1  26    72
14        14      0     5  24  1990
15        15      0     1  25  2011
16        16      0     4  12    82
17        17      0    10  13  1976
18        18      0     4  24    98
19        19      0     5  21    77
20        20      0     7  21    98
21        21      0    10  21    79
22        22      0     3  03    90
23        23      0     2  11    76
24        24      0    07  25  1984
25        25      0     4  13    82
26        26      0     9  22    89
27        27      0     9  02    76
28        28      0     9  12    71
29        29      0    10  24    86
..       ...    ...   ...  ..   ...
96        95      0     4  11  1974
97        96      0     7  18    86
98        97      0     3  31    91
99        98      0     5  13    72
100       99      0    11  14    83
101      100      0     8  16    92
102      101      0    10  05    97
103      102      0    07  18  2002
104      103      0     9  22    82
105      104      0     2  24    74
106      105      0     2  03    78
107      106      0     2  11  2006
108      107      0     8  22    83
109      108      0     5  04    74
110      109      0     7  20  2011
111      110      0     6  17    95
112      111      0     6  10    72
113      112      0    10  16    82
114      113      0    12  15    92
115      114      0    12   8    97
116      115      0     4  05    89
117      116      0    12  04    87
118      117      0     6  20    77
119      118      0     4  27  2006
120      119      0    07  17    92
121      120      0    12  22    98
122      121      0    10  02    96
123      122      0    11  05    90
124      123      0     5  04    77
125      124      0     2  27    96

[126 rows x 5 columns]

In [135]:
dates = dates[dates.match!=1]
len(dates)

125

In [136]:
#2nd and 4th pattern
index_left = ~df.index.isin([x for x in dates['level_0']])
t3 = df[index_left].str.extractall(r'(?P<month>[A-Za-z]{3,})[.]?[-\W](?P<day>\d{1,2})[a-z]{,2}[,]?(?P<extra>-| )(?P<year>\d{4})')
t3.drop(['extra'], axis=1, inplace=True)
t3_index = t3.reset_index()
t3_index
i = t3_index[t3_index.month == 'Age'].index
t3_index.drop(i, inplace=True)
dates = pd.concat([dates, t3_index], axis=0)
len(t3_index)

34

In [137]:
# 3rd pattern
index_left = ~df.index.isin([x for x in dates['level_0']])
t4 = df[index_left].str.extractall(r'(?P<day>\d{1,2}) (?P<month>[A-Za-z]{3,})[.|,]? (?P<year>\d{4})')
t4_index = t4.reset_index()
t4_index
dates = pd.concat([dates, t4_index])
len(t4_index)

69

In [138]:
# 5th pattern
index_left = ~df.index.isin([x for x in dates['level_0']])
t5 = df[index_left].str.extractall('(?P<month>[A-Z][a-z]{2,}),?\.? (?P<year>\d{4})')
t5['day']=1
t5_index = t5.reset_index()
t5_index
dates = pd.concat([dates, t5_index])
t5_index

     level_0  match      month  year  day
0        228      0  September  1985    1
1        229      0       June  2011    1
2        230      0        May  1986    1
3        231      0        May  2016    1
4        232      0       July  1977    1
5        233      0       July  1990    1
6        234      0        Jul  2003    1
7        235      0        Oct  2015    1
8        236      0        May  1995    1
9        237      0   February  1976    1
10       238      0    January  1995    1
11       239      0        Feb  1978    1
12       240      0        May  2011    1
13       241      0        May  2004    1
14       242      0        Nov  2010    1
15       243      0        Sep  2012    1
16       244      0    January  2013    1
17       245      0   November  1990    1
18       246      0       July  1981    1
19       247      0        May  1983    1
20       248      0       July  1995    1
21       249      0      April  1993    1
22       250      0        May  2005    1
23       251      0   December  1998    1
24       252      0        Jan  2007    1
25       253      0        Feb  2016    1
26       254      0     August  1979    1
27       255      0        Oct  2014    1
28       256      0        Aug  1988    1
29       257      0        Sep  2015    1
..       ...    ...        ...   ...  ...
86       314      0    January  2007    1
87       315      0        Jun  1976    1
88       316      0        May  2011    1
89       317      0        Mar  1975    1
90       318      0        Jan  1978    1
91       319      0       July  1975    1
92       320      0   November  2012    1
93       321      0       June  1999    1
94       322      0    October  1991    1
95       323      0      March  1973    1
96       324      0    October  1996    1
97       325      0        Jun  2007    1
98       326      0    October  1995    1
99       327      0      April  1999    1
100      328      0        May  2001    1
101      329      0      March  2000    1
102      330      0      April  1988    1
103      331      0   December  1993    1
104      332      0       June  1974    1
105      333      0   November  1997    1
106      334      0       July  1986    1
107      335      0   February  1973    1
108      336      0      March  1978    1
109      337      0        Dec  2007    1
110      338      0        Apr  1998    1
111      339      0      March  2005    1
112      340      0        May  1980    1
113      341      0        Nov  2007    1
114      342      0      March  1976    1
115      459      0      Since  1998    1

[116 rows x 5 columns]

In [139]:
dates = dates[dates.month!='Since']
dates

    day  level_0  match      month  year
0    25        0      0         03    93
1    18        1      0          6    85
2     8        2      0          7    71
3    27        3      0          9    75
4     6        4      0          2    96
5    06        5      0          7    79
6    18        6      0          5    78
7    24        7      0         10    89
8     7        8      0          3    86
9    10        9      0          4    71
10   11       10      0          5    85
11   09       11      0          4    75
12   01       12      0          8    98
13   26       13      0          1    72
14   24       14      0          5  1990
15   25       15      0          1  2011
16   12       16      0          4    82
17   13       17      0         10  1976
18   24       18      0          4    98
19   21       19      0          5    77
20   21       20      0          7    98
21   21       21      0         10    79
22   03       22      0          3    90
23   11       23      0          2    76
24   25       24      0         07  1984
25   13       25      0          4    82
26   22       26      0          9    89
27   02       27      0          9    76
28   12       28      0          9    71
29   24       29      0         10    86
..   ..      ...    ...        ...   ...
85    1      313      0  Decemeber  1978
86    1      314      0    January  2007
87    1      315      0        Jun  1976
88    1      316      0        May  2011
89    1      317      0        Mar  1975
90    1      318      0        Jan  1978
91    1      319      0       July  1975
92    1      320      0   November  2012
93    1      321      0       June  1999
94    1      322      0    October  1991
95    1      323      0      March  1973
96    1      324      0    October  1996
97    1      325      0        Jun  2007
98    1      326      0    October  1995
99    1      327      0      April  1999
100   1      328      0        May  2001
101   1      329      0      March  2000
102   1      330      0      April  1988
103   1      331      0   December  1993
104   1      332      0       June  1974
105   1      333      0   November  1997
106   1      334      0       July  1986
107   1      335      0   February  1973
108   1      336      0      March  1978
109   1      337      0        Dec  2007
110   1      338      0        Apr  1998
111   1      339      0      March  2005
112   1      340      0        May  1980
113   1      341      0        Nov  2007
114   1      342      0      March  1976

[343 rows x 5 columns]

In [140]:
#6th pattern
index_left = ~df.index.isin([x for x in dates['level_0']])
t2 = df[index_left].str.extractall(r'(?P<month>\d{1,2})/(?P<year>\d{4})')
t2['day'] = 1
t2_index = t2.reset_index()
t2_index
dates = pd.concat([dates, t2_index])
len(t2_index)

112

In [141]:
#7th pattern

index_left = ~df.index.isin([x for x in dates['level_0']])
t6 = df[index_left].str.extractall(r'(?P<year>\d{4})')
t6['day']=1
t6['month']=1
t6_index = t6.reset_index()
t6_index
dates = pd.concat([dates, t6_index])
len(t6_index)

45

In [142]:
mon_dict = dict({'September': 9, 'Mar': 3, 'November': 11, 'Jul': 7, 'January': 1, 'December': 12,
                       'Feb': 2, 'May': 5, 'Aug': 8, 'Jun': 6, 'Sep': 9, 'Oct': 10, 'June': 6, 'March': 3,
                       'February': 2, 'Dec': 12, 'Apr': 4, 'Jan': 1, 'Janaury': 1,'August': 8, 'October': 10,
                       'July': 7, 'Since': 1, 'Nov': 11, 'April': 4, 'Decemeber': 12, 'Age': 8})
    
dates.replace({'month':mon_dict}, inplace= True)

dates['month'] = dates['month'].apply(lambda x: str(x))
dates['day'] = dates['day'].apply(lambda x: str(x))
dates['year'] = dates['year'].apply(lambda x: str(x))
dates['year'] = dates['year'].apply(lambda x: '19' + x if len(x) == 2 else x)

dates['date'] = dates['month'] + '/' + dates['day'] + '/' + dates['year']

dates = dates[dates.match!=1]

dates['date'] = pd.to_datetime(dates['date'])

dates.sort_values(by='date', inplace=True)
dates['level_0']

9        9
85      84
2        2
53      53
28      28
19     474
28     153
13      13
4      129
99      98
112    111
31     225
31      31
46     171
66     191
31     486
72     415
107    335
36      36
95     323
62     405
79     422
32     375
37     380
2      345
57      57
26     481
93     436
105    104
71     299
      ...
26     220
15     243
14     208
14     139
92     320
40     383
25     480
16     244
58     286
88     431
51     279
4      198
8      463
38     381
23     366
96     439
27     255
58     401
20     475
29     257
27     152
7      235
9      464
25     253
84     427
3      231
16     141
61     186
36     161
70     413
Name: level_0, Length: 500, dtype: int64